 <div class="hidden sm:flex sm:pt-28 px-4">
    <ul class="flex sm:flex-col gap-6 items-center">
      <li>
        <a routerLink="/notes" routerLinkActive="active"
          ><i class="fa-solid fa-note-sticky pr-1"></i>Notes</a
        >
      </li>
      <li>
        <a routerLink="/reminder" routerLinkActive="active"
          ><i class="fa-regular fa-bell pr-1"></i>Reminder</a
        >
      </li>
      <li>
        <a routerLink="/archieve" routerLinkActive="active"
          ><i class="fa-solid fa-box-archive pr-1"></i>Archieves</a
        >
      </li>
    </ul>
  </div>